.filter-gradient.blue:after {
    background: #2d0040;
    background: -moz-radial-gradient(center, ellipse cover, #2d0040 0%, rgba(54, 151, 142, 0.8) 0%, #2d0040 100%, #2d0040 100%, #2d0040 100%, #2d0040 100%, #2d0040 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2d0040), color-stop(0%,rgba(54, 151, 142, 0.8) ), color-stop(100%,#0C526C), color-stop(100%,#3d7eaa), color-stop(100%,#182848), color-stop(100%,#6e48aa), color-stop(100%,#6e48aa));
    background: -webkit-radial-gradient(center, ellipse cover, #2d0040 0%,rgba(54, 151, 142, 0.8) 0%,#2d0040 100%,#2d0040 100%,#2d0040 100%,#2d0040 100%,#2d0040 100%);
    background: -o-radial-gradient(center, ellipse cover, #2d0040 0%,rgba(54, 151, 142, 0.8) 0%,#2d0040 100%,#2d0040 100%,#2d0040 100%,#2d0040 100%,#2d0040 100%);
    background: -ms-radial-gradient(center, ellipse cover, #2d0040 0%,rgba(54, 151, 142, 0.8) 0%,#2d0040 100%,#2d0040 100%,#2d0040 100%,#2d0040 100%,#2d0040 100%);
    background: radial-gradient(ellipse at center, #2d0040 0%,#2d0040 0%,#2d0040 100%,#2d0040 100%,#2d0040 100%,#2d0040 100%,#2d0040 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(54, 151, 142, 0.8) ', endColorstr='#6e48aa',GradientType=1 );
}

.header-text {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 30px;
    position: relative;
    line-height: 24px;
    color: #fff;
}

.landing-page .section p {
    margin-top: 30px;
    line-height: 30px;
    font-size: 30px;
    font-weight: 200;
    color: #fff;
}

.landing-page .section-features .card{
  background: #fff;
}

.landing-page .section-features .card p {
    font-size: 22px;
    line-height: 25px;
    color: #777;
    text-align: justify
}

#particles-js{
  background-color: #2D0040;
  background-image: url('../images/network6.jpg');
  /*background-size: cover;*/
  background-repeat: repeat;
  font-size: 16px;
}

.section{
  background-color: transparent;
}

.particles-js-canvas-el{
  width: 100%;
  height: 100%;
  position: fixed;
  /* z-index: 999999; */
  left: 0;
  top: 0;
}

.section-gray {
    background-color: #EEEEEE;
}

.landing-page .section-no-padding .parallax .info {
    top: 50px;
}

.landing-page .section-no-padding .parallax .info .btn-lg {
    margin-top: 40px;
}

@media (max-width: 767px){
  .landing-page .parallax .description {
      margin-top: 180px;
  }
  .landing-page .parallax {
    height: 680px;
  }
  #login-content{
    height: 500px !important;
  }
}

.bd-navbar {
    min-height: 4rem;
    background-color: #000000;
/*    background: rgb(86,61,124);
    background: linear-gradient(0deg, rgba(86,61,124,1) 0%, rgba(98,63,150,1) 35%, rgba(79,39,139,1) 100%);
    box-shadow: 0 1rem 1rem rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.1);*/
}

@media (max-width: 991.98px) {
    .bd-navbar {
        padding-right:.5rem;
        padding-left: .5rem
    }

    .bd-navbar .navbar-nav-scroll {
        max-width: 100%;
        height: 2.5rem;
        margin-top: .25rem;
        overflow: hidden
    }

    .bd-navbar .navbar-nav-scroll .navbar-nav {
        padding-bottom: 2rem;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch
    }
}

@media (min-width: 768px) {
    @supports ((position:-webkit-sticky) or (position:sticky)){
        .bd-navbar {
            position:-webkit-sticky;
            position: sticky;
            top: 0;
            z-index: 1071
        }
    }
}

.bd-navbar .navbar-nav .nav-link {
    padding-right: .6rem;
    padding-left: .6rem;
    color: #fff;
    line-height: 2.5rem;
    /*font-family: 'Catamaran', sans-serif;*/
    font-family: 'Oswald', sans-serif;
    font-weight: 800;
    font-size: 19px;
    text-transform: uppercase;
}

.bd-navbar .navbar-nav .nav-link.active,.bd-navbar .navbar-nav .nav-link:hover {
    color: #fff;
    background-color: transparent
}

.bd-navbar .navbar-nav .nav-link.active {
    font-weight: 600
}

.bd-navbar .navbar-nav-svg {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-top
}

.bd-navbar .dropdown-menu {
    font-size: .875rem
}

.bd-navbar .dropdown-item.active {
    font-weight: 600;
    color: #212529;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") no-repeat .4rem .6rem/.75rem .75rem
}

.navbar .navbar-nav > li > a {
    padding: 0;
    margin: 0;
}

.navbar .navbar-nav > li > a [class^="fa"] {
    font-size: 30px;
    position: relative;
    top: 1px;
    text-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)!important;
}

.parallax{
  position: relative;
}

.tipo-Cabin{
  font-family: 'Cabin', sans-serif;
}

.catamaran{
  font-family: 'Oswald', sans-serif;
  /*font-family: 'Catamaran', sans-serif;*/
  font-weight: 900;
}

.landing-page .parallax .description h2 {
  /*text-shadow: 0 1px 5px rgba(0,0,0,0.2);*/
  font-weight: 900; 
  font-size: 40px;
}

.landing-page .parallax .description{
  margin-top: 0;
  background-color: rgba(0,0,0,0.6);
}

@media (max-width: 767px){
  .landing-page .parallax .parallax-background:not(.no-relocate) img {
      margin-left: -70%;
  }
}

.btn-login{
  border: 1px solid #f79828 !important;
  border-radius: 3px !important;
  background: #f79828 !important;
  color: #fff !important;
}

.navbar .navbar-nav > li > a.btn {
  margin: 5px 0 0 0;
  padding: 5px 6px;
  font-size: 12px;
}

.floating-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgba(255,255,255,0.7);
    z-index: 10000;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    line-height: 4em;
    text-align: center;
    padding-top: .5em;
}

.floating-icon a{
  text-decoration: none;
}

.floating-icon i{
  text-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)!important;
  cursor: pointer;
}

.alert-description{
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

ul.navbar-nav.social-box .nav-link{
  padding-right: .3rem;
  padding-left: .3rem;
}

.nav-link.nav-link img.social{
  width: 30px;
  height: 30px;
}

.footer .copyright{
  padding: 0;
}

.landing-page .parallax .description {
  padding: 5px 15px;
}

h1, .h1 {
    font-size: 40px;
}

.landing-page .parallax .description h2 {
  font-size: 36px;
}

.btn-lg {
  padding: 8px 25px;
}

.description .text-purple{
  text-shadow: 1px 1px 0px rgba(100,100,100,0.8);
}

.tradingview-widget-copyright{
  display: none;
}

.text-purple {
  color: #6f42c1;
  font-weight: 800;
}

.text-green {
    color: #28a745;
}

.description .text-purple {
  text-shadow: 1px 1px 0px rgba(100,100,100,0.8);
}

.elevation-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,.16),0 3px 6px rgba(0,0,0,.23)!important;
}

.bd-navbar-color {
    min-height: 4rem;
     background-color: #000; 
/*    background: rgb(86,61,124);
    background: linear-gradient(0deg, rgba(86,61,124,1) 0%, rgba(98,63,150,1) 35%, rgba(79,39,139,1) 100%);
    box-shadow: 0 1rem 1rem rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.1);*/
}

.swal2-actions{
  margin: 0;
  padding: 0
}