app:
    resource: '@AppBundle/Controller/'
    type: annotation
    
app_module:
    resource: "@AppBundle/Resources/config/routing.yml"
    prefix:   /
    
avanzu_admin_home:
    path: /
    
welcome:
    path: /
    
avanzu_admin_profile:
    path: /admin/fosuser/{userid}/edit
    
profile:
    path: /admin/fosuser/{userid}/edit
    
avanzu_admin_logout:
    path: /logout
    
avanzu_admin_show_message:
    path: /admin/{messageid}/message
    
avanzu_admin_all_messages:
    path: /admin/messages
    
login_check:
  path: /login_check
  
fos_user_security:
    resource: "@AppBundle/Resources/config/routing/security.yml"
    
fos_user_resetting:
    resource: "@AppBundle/Resources/config/routing/resetting.yml"
    prefix: /resetting
    
fos_user_registration:
    resource: "@AppBundle/Resources/config/routing/registration.yml"
    prefix: /register
    
fos_user_change_password:
    resource: "@FOSUserBundle/Resources/config/routing/change_password.xml"
    prefix: /change_password
    
fos_user_profile:
    resource: "@FOSUserBundle/Resources/config/routing/profile.xml"
    prefix: /profile
    
app_cities:
    path:     /cities
    defaults: { _controller: "AppBundle:FosUser:cities" }
    methods:  [GET, POST]
    
app_public_test_email:
    path:     /public/testemail/
    defaults: { _controller: "AppBundle:Default:testEmail" }
    methods:  [GET, POST]

supplierinvoice_index:
    path: /supplier-invoices
    defaults: { _controller: AppBundle:SupplierInvoice:index }
    methods: [GET, POST]

supplierinvoice_new:
    path: /supplier-invoices/new
    defaults: { _controller: AppBundle:SupplierInvoice:new }
    methods: [GET, POST]

supplierinvoice_show:
    path: /supplier-invoices/{id}
    defaults: { _controller: AppBundle:SupplierInvoice:show }
    methods: [GET]
    requirements:
        id: \d+

supplierinvoice_edit:
    path: /supplier-invoices/{id}/edit
    defaults: { _controller: AppBundle:SupplierInvoice:edit }
    methods: [GET, POST]
    requirements:
        id: \d+

supplierinvoice_delete:
    path: /supplier-invoices/{id}/delete
    defaults: { _controller: AppBundle:SupplierInvoice:delete }
    methods: [DELETE]
    requirements:
        id: \d+

supplierinvoice_confirm:
    path: /supplier-invoices/{id}/confirm
    defaults: { _controller: AppBundle:SupplierInvoice:confirm }
    methods: [GET]
    requirements:
        id: \d+

supplierinvoice_cancel:
    path: /supplier-invoices/{id}/cancel
    defaults: { _controller: AppBundle:SupplierInvoice:cancel }
    methods: [GET]
    requirements:
        id: \d+

supplierinvoice_search_materials:
    path: /supplier-invoices/search-materials
    defaults: { _controller: AppBundle:SupplierInvoice:searchMaterials }
    methods: [GET]

supplierinvoice_mark_as_paid:
    path:     /{id}/mark-as-paid
    defaults: { _controller: AppBundle:SupplierInvoice:markAsPaid }
    methods:  [GET]

store_get_facturas_pendientes:
    path: /store/get_facturas_pendientes
    defaults: { _controller: AppBundle:Store:get_facturas_pendientes }
    methods: [POST]