{{ form_start(form, {attr:{'action':path('inventarioordendescarga_new',{'id': inventarioOrdenItem.id})}}) }}
<div class="row">
   <div class="col-12">
    <div class="card">
      <div class="overlay" style="display:none">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <div class="card-body">
        {{ form_widget(form) }}
      </div>
      <div class="card-footer">
        <input type="submit" class="btn btn-sm btn-success d-flex ml-auto" value="Descargar" />
      </div>
    </div>
  </div>
</div>
{{ form_end(form) }}
{% block avanzu_javascripts_inline %}
  <script>
    var entregado = parseFloat("{{ qty_entregada }}");
    var restante = parseFloat($("#appbundle_inventarioordendescarga_cantidad").val().toString().replace(',', '.')) - entregado;
    $("#appbundle_inventarioordendescarga_cantidad").val(restante).toString().replace(',', '.');
  </script>
{% endblock %}