{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}
{% block avanzu_document_title %}Productocomplementos{% endblock %}
{% block avanzu_page_title %}Productocomplementos{% endblock %}
{% block avanzu_page_subtitle %}{% if q is defined %}Filtrado por: {{q}}{% endif %}{% endblock %}
{% block titulo_pagina %}
  
  <div class="text-center py-5">
    <span style="font-size:large">Clickea en "Guardar cambios" para actualizar el producto!!</span>
  </div>

{% endblock %}
{% block avanzu_javascripts_inline %}
  <script>
   
  </script>
{% endblock %}
